[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std/"]
	branch = v1.2.0
[submodule "lib/axiom-v1-contracts"]
	path = lib/axiom-v1-contracts
	url = https://github.com/axiom-crypto/axiom-v1-contracts
	branch = main